:root
{
    --max-product-card-size: 300px;
    --max-product-card-size-mobile: 200px;
    --button-height-1: 40px;
    --button-height-2: 50px;
    --button-height-3: 60px;
    --button-height-4: 70px;
    --button-height-5: 80px;
    --button-height-6: 90px;
    --button-height-7: 100px;
    --button-height-8: 110px;
    --load-spinner-size-1: 50px;
    --load-spinner-size-2: 100px;
    --image-size-product: 450px;
    --image-size-product-mobile: 300px;
    --image-size-product-tablet: 500px;
    --image-size-cart: 150px;
    --image-logo: 80px;
    --navbar: 90px;
    --cart-panel: 350px;
    --mobile-menu-height: 400px;




}